<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <style>
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
    </style>
</head>
<body>
    <ul id="messages"></ul>
    <input id="nickname" type="text" placeholder="Enter your nickname">
    <input id="message" type="text" placeholder="Enter your message">
    <button onclick="sendMessage()">Send</button>

    <script>
        var socket = io();
        var nickname = '';

        socket.on('connect', function() {
            console.log('Connected to server');
        });

        socket.on('message', function(msg) {
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(msg));
            document.getElementById('messages').appendChild(li);
        });

        function sendMessage() {
            var nickInput = document.getElementById('nickname');
            var msgInput = document.getElementById('message');
            
            if (!nickname) {
                nickname = nickInput.value || 'Anonymous';
                nickInput.disabled = true;
            }
            
            if (msgInput.value) {
                socket.emit('message', nickname + ': ' + msgInput.value);
                msgInput.value = '';
            }
        }
    </script>
</body>
</html>
